* {
    margin:0;
    padding:0;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

html.lenis {
    height: auto;
  }
  
.lenis.lenis-smooth {
scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
overscroll-behavior: contain;
}

.lenis.lenis-stopped {
overflow: hidden;
}

body {
    background: #000;
    color:white;
    font-family: "Syne", sans-serif;
    text-transform: uppercase;
    overflow-x:hidden;
}

.navbar {
    position:fixed;
    z-index:4;
    right:5vw;
    top:5vh;
}

.navbar.activated a {
    transition:transform 0.3s ease, background 0.3s ease-in-out;
    background:#FDB538;
}

.navbar.activated .nav-line {
    transform: rotate(45deg) translateX(-1.5vw) translateY(2vw);
    background:black;
    transition:transform 0.3s ease, background 0.3s ease-in-out;
    transform-origin:middle;
}

.navbar.activated .nav-line::before {
    transform:rotate(90deg);
    background:black;
    transition:transform 0.3s ease, background 0.3s ease-in-out;
    top:0;
}

.navbar a:hover {
    background:#FDB538;
    transition:background 0.2s ease-in-out;
}

.navbar .nav-line {
    width:5vw;
    height:5px;
    background:white;
    position:absolute;
    left:50%;
    top:45%;
    transform:translateX(-50%);
    transform-origin:middle;
    transition:transform 0.3s ease, background 0.3s ease-in-out;
}

.navbar .nav-line::before {
    content:'';
    left:0;
    position:absolute;
    width:100%;
    height:5px;
    background:white;
    top:300%;
    margin:0;
    padding:0;
    transition:transform 0.3s ease, background 0.3s ease-in-out;
}

.navbar a {
    width:10vw;
    height:10vw;
    position:relative;
    background:black;
    display:block;
    border-radius:100%;
    transition:transform 0.3s ease, background 0.3s ease-in-out;
}

.menu {
    position:fixed;
    top:0;
    background:black;
    width:80%;
    height:90vh;
    padding: 5vh 10%;
    left:0;
    z-index:3;
    display:flex;
    flex-direction:column;
    gap:1vh;
    justify-content: center;
    transform:scale(0.8);
    pointer-events:none;
    opacity:0;
    transition:transform 0.5s ease, opacity 0.5s ease-in-out;
    transition-delay: 0.6s;
}

.menu.show {
    transform:scale(1);
    opacity:1;
    transition:transform 0.5s ease, opacity 0.5s ease-in-out;
    pointer-events: all;
}

.menu.show a {
    transform:translateY(0px);
    opacity:1;
    transition:transform 0.5s ease, opacity 0.5s ease-in-out;
    transition-delay: calc(var(--data-index) * 0.1s);
}

.menu a {
    text-decoration:none;
    color:white;
    transform:translateY(30px);
    opacity:0;
    transition:transform 0.5s ease, opacity 0.5s ease-in-out;
    transition-delay: calc((var(--data-index)) * 0.1s);
}

.menu > a {
    font-weight:750;
    font-size:7vw;
    display:block;
    line-height:0.9;
    position:relative;
    width:max-content;
}

.menu > a::before {
    position:absolute;
    content:'';
    width:5vw;
    height:100%;
    background:#FDB538;
    top:0;
    left:calc(100% + 1vw);
    transform:scaleX(0);
    transform-origin: left;
    transition:transform 0.3s ease;
}

.menu > a:hover::before {
    transform:scaleX(1);
    transform-origin: left;
    transition:transform 0.3s ease;
}


.menu .nav-socials {
    display:flex;
    flex-wrap:wrap;
    width:100%;
    gap:1vw;
    margin-top:5vh;
}

.menu .nav-socials a::before {
    width:100%;
    height:100%;
    top:0;
    left:0;
    position:absolute;
    content:'';
    background:#FDB538;
    z-index:-1;
    transform:scaleY(0);
    transform-origin:bottom;
    transition:transform 0.3s ease;
}

.menu .nav-socials a:hover::before {
    transform:scaleY(1);
    transform-origin:bottom;
    transition:transform 0.3s ease;
}

.menu .nav-socials a:hover {
    color:black;
    border:2px solid #FDB538;
    transition: color 0.3s ease-in-out, border 0.3s ease-out;
}

.nav-socials a {
    font-size:2vw;
    font-weight:400;
    padding:1vh 1vw;
    border:2px solid white;
    border-radius:10vh;
    position:relative;
    overflow: hidden;
    display:block;
}

::-webkit-scrollbar {
    width:0;
}

.cursor {
    position:absolute;
    top:0;
    left:0;
    width:2vw;
    aspect-ratio: 1/1;
    border-radius:100%;
    background-color: #FDB538;
    transform:translate(-50%, -50%);
    pointer-events: none;
    transition: opacity 0.2s ease-in-out, width 0.5s ease, background 0.2s ease-in-out;
    z-index:10;
    font-size:1vw;
    color:black;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero {
    width:80%;
    height:90vh;
    padding:5vh 10%;
    overflow:hidden;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.hero h1 {
    font-size:7vw;
    font-weight:700;
    line-height:0.9;
}

.other-topics a::before, .footer .social-links-container a::before {
    width:100%;
    height:100%;
    bottom:0;
    left:0;
    position:absolute;
    content:'';
    background:#FDB538;
    z-index:-1;
    transform:scaleY(0);
    transform-origin:bottom;
    transition:transform 0.3s ease;
}

.other-topics p {
    width:50%;
    line-height:1.5;
}

.other-topics .topic-buttons {
    display:flex;
    flex-wrap: wrap;
    gap:1vw;
    width:50%;
    justify-content: right;
}

.other-topics a {
    display: inline-block;
    text-decoration: none;
    color:white;
    padding:2vh 1vw;
    border:2px solid white;
    border-radius:1000px;
    position:relative;
    overflow: hidden;
    transition:color 0.3s ease-in-out, border 0.3s ease-out;
}

.other-topics a:hover::before, .footer .social-links-container a:hover::before, .about mark:hover::before {
    transform:scaleX(1);
    transform-origin: bottom;
    transition:transform 0.3s ease;
}

.other-topics a:hover, .footer .social-links-container a:hover {
    color:black;
    border:2px solid #FDB538;
    transition:color 0.3s ease-in-out, border 0.3s ease-out;
}

.contact {
    width:80%;
    height:90vh;
    padding: 5vh 10%;
    background:url('contact.jpg');
    background-size:50%;
    background-position:center;
    background-attachment:fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
    justify-content: center;
    gap:5vh;
}

.contact h1 {
    font-size:3vw;
    font-weight:400;
}

.contact a {
    text-decoration:none;
    font-weight:700;
    font-size:3vw;
    padding:4vh 4vw;
    background:#FDB538;
    color:black;
    border:2px solid #FDB538;
    transition:background 0.3s ease-out, color 0.3s ease-in-out;
}

.socials {
    width:100%;
    padding:30vh 0;
    padding-bottom:15vh;
    background:black;
    position:relative;
    z-index:2;
}

.socials > h1 {
    font-size:7vw;
    margin-left:5%;
    margin-bottom:10vh;
}

.socials .hover h1, .socials .hover .icon {
    opacity:0;
    transform:scale(0.95);
    transition:opacity 0.3s ease-in-out, transform 0.3s ease;
}

.socials a {
    width:100%;
    border-top:2px solid #444;
    height:10vh;
    padding:5vh 0;
    display:block;
    position:relative;
    text-decoration: none;
    color:white;
    transition:background 0.3s ease-out;
}

.socials .non-hover {
    display:flex;
    width:90%;
    height:10vh;
    padding:5vh 5%;
    justify-content: space-between;
    align-items: center;
    transition:opacity 0.3s ease-in-out;
    position:absolute;
    top:0;
    left:0;
}

.socials .hover {
    color:black;
    width:100%;
    height:10vh;
    position:relative;
    font-size:1.5vw;
}

.socials .scroll-text-1, .socials .scroll-text-2, .socials .scroll-text-3, .socials .scroll-text-4 {
    gap:7vw;
    padding-right:7vw;
    transform:translateX(200%) translateY(-50%);
    animation: marqueeSocials 12s linear infinite;
}

.socials .scroll-text-2 {
    animation-delay: 3s;
}

.socials .scroll-text-3 {
    animation-delay: 6s;
}

.socials .scroll-text-4 {
    animation-delay:9s;
}

.socials img {
    width:2vw;
}

.socials a:hover {
    background:#FDB538;
    transition:background 0.3s ease-out;
}

.socials a:hover > .non-hover {
    opacity:0;
    transition:opacity 0.3s ease-in-out;
}

.footer {
    width:90%;
    min-height:40vh;
    padding:5vh 5%;
    display:flex;
    flex-direction: column;
    gap:5vh;
}

.footer a {
    text-decoration: none;
    color:white;
}

.footer .brand {
    width:30%;
}

.footer h1 {
    font-size:7vw;
    font-weight:750;
    line-height:0.9;
}

.footer > div {
    display:flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: space-between;
    align-items: center;
}

.footer .links-container {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    gap:1vh;
}

.footer .links-container a {
    font-weight:750;
    font-size:2vw;
    position:relative;
}

.footer .links-container a::before {
    position:absolute;
    content:'';
    width:3vw;
    height:100%;
    background:#FDB538;
    top:0;
    right:calc(100% + 1vw);
    transform:scaleX(0);
    transform-origin: right;
    transition:transform 0.3s ease;
}

.footer .links-container a:hover::before {
    transform:scaleX(1);
    transform-origin: right;
    transition:transform 0.3s ease;
}

.footer .social-links-container {
    display:flex;
    flex-wrap:wrap;
    gap:1.5vw;
}

.footer .social-links-container a {
    display:inline-block;
    padding:1vh 1vw;
    border:2px solid white;
    border-radius:1000px;
    font-size:1.5vw;
    overflow: hidden;
    transition:color 0.3s ease-in-out, border 0.3s ease-out;
    position:relative;
}

.footer .other-links {
    border-top:2px solid #444;
    padding:3vh 0;
}

.members {
    display:flex;
    flex-direction: column;
    width:96%;
    padding:20vh 2%;
    padding-top:0vh;
    gap:20vh;
    transform:translateY(-10vh);
}

.member .image {
    width: 100%;
    height: auto; 
    border-radius: 2vw;
    background: #333;
    margin-bottom: 5vh;
}

.member h1 {
    font-size:2vw;
}

.member .name {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:80%;
    padding-left:10%;
    margin-bottom:5vh;
}

.member .intro {
    margin-bottom: 20px; 
    text-align: justify; 
  }
  
  .member .intro:first-child {
    margin-top: 20px; 
  }


  .intro:hover{
    color:#f1ba5b;
  }

.name {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.name img{
    align-content: center;
}

.name h1{
    text-align: center;
}

.details {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin: 20px 40px; 
    border-color: #FDB538;
    border-style: solid;
}
  

.member p {
    width:80%;
    padding-left:10%;
    line-height:1.3;
    text-align: center;
}

.hero p {
    margin-top:3vh;
}

.member-image {
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    object-fit: cover;
    padding-bottom: 10px;
    display: block;
    margin: 0 auto; 
  }

  .copyright{
    padding-bottom: 3vh;
}